{% extends 'layout.html' %}

{% block body %}
  <h1>Add Subject</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.title, class_="form-control") }}
    </div>

    <p><input class="btn btn-primary" type="submit" value="Submit">
  </form>

    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock %}
